body{
    background-image: url('image/pot.jpg');
    background-size: 1520px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-left: 0;
    margin-top: 10;
}

.section_form{
    background-image: url('image/images\ \(2\).jpg');
    background-repeat: no-repeat;
    background-size: 800px;
    width: 600px;
    height: 700px;
    padding:  100px 100px 0px 100px;
    margin: auto;
    border-radius: 30px;
}

.form{
    border: none;
    background: transparent;
    
}

legend{
    margin-bottom: 20px
    color;
}

.form::placeholder, .form1::placeholder{
    color:blue;
    font-size: 17px;
}



#btn{
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 35px;
    box-shadow: #fff;
    margin-left: 100px;
    background-color: blue;
    color: #ffd700;
    border: 3px solid #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

#btn:hover{
    width: 250px;
    height: 50px;
    border: 3px solid blueviolet;
    border-radius: 25px;
    box-shadow: #fff;
    margin-left: 100px;
    background-color: #fff;
    color: blue;
    font-size: 35px;
}

label{
    color: #fff;
    font-size: 30px;
}